tags/EntregaTarea3/Cliente/Movil/src/META-INF/wsdl/pc128862_9128/publicadorMovil.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Publicar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Publicar/" name="PublicadorMovilService">
<types>
<xsd:schema>
<xsd:import namespace="http://Publicar/" schemaLocation="http://pc128862:9128/publicadorMovil?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="existeRestaurante">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeRestauranteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getPedidos"></message>
<message name="getPedidosResponse">
<part name="return" type="tns:dataPedidoArray"></part>
</message>
<message name="getRestaurante">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getRestauranteResponse">
<part name="return" type="tns:dataRestaurante"></part>
</message>
<message name="getPedido">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getPedidoResponse">
<part name="return" type="tns:dataPedido"></part>
</message>
<message name="ActualizarEstadoPedido">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="tns:estado"></part>
</message>
<message name="ActualizarEstadoPedidoResponse"></message>
<message name="setRestoLogueado">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="setRestoLogueadoResponse"></message>
<portType name="PublicadorMovil">
<operation name="existeRestaurante">
<input wsam:Action="http://Publicar/PublicadorMovil/existeRestauranteRequest" message="tns:existeRestaurante"></input>
<output wsam:Action="http://Publicar/PublicadorMovil/existeRestauranteResponse" message="tns:existeRestauranteResponse"></output>
</operation>
<operation name="getPedidos">
<input wsam:Action="http://Publicar/PublicadorMovil/getPedidosRequest" message="tns:getPedidos"></input>
<output wsam:Action="http://Publicar/PublicadorMovil/getPedidosResponse" message="tns:getPedidosResponse"></output>
</operation>
<operation name="getRestaurante">
<input wsam:Action="http://Publicar/PublicadorMovil/getRestauranteRequest" message="tns:getRestaurante"></input>
<output wsam:Action="http://Publicar/PublicadorMovil/getRestauranteResponse" message="tns:getRestauranteResponse"></output>
</operation>
<operation name="getPedido">
<input wsam:Action="http://Publicar/PublicadorMovil/getPedidoRequest" message="tns:getPedido"></input>
<output wsam:Action="http://Publicar/PublicadorMovil/getPedidoResponse" message="tns:getPedidoResponse"></output>
</operation>
<operation name="ActualizarEstadoPedido" parameterOrder="arg0 arg1">
<input wsam:Action="http://Publicar/PublicadorMovil/ActualizarEstadoPedidoRequest" message="tns:ActualizarEstadoPedido"></input>
<output wsam:Action="http://Publicar/PublicadorMovil/ActualizarEstadoPedidoResponse" message="tns:ActualizarEstadoPedidoResponse"></output>
</operation>
<operation name="setRestoLogueado">
<input wsam:Action="http://Publicar/PublicadorMovil/setRestoLogueadoRequest" message="tns:setRestoLogueado"></input>
<output wsam:Action="http://Publicar/PublicadorMovil/setRestoLogueadoResponse" message="tns:setRestoLogueadoResponse"></output>
</operation>
</portType>
<binding name="PublicadorMovilPortBinding" type="tns:PublicadorMovil">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="existeRestaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="getPedidos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="getRestaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="getPedido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="ActualizarEstadoPedido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="setRestoLogueado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorMovilService">
<port name="PublicadorMovilPort" binding="tns:PublicadorMovilPortBinding">
<soap:address location="http://pc128862:9128/publicadorMovil"></soap:address>
</port>
</service>
</definitions>