trunk/Tarea3/Cliente/Web/web/WEB-INF/wsdl/localhost_9129/publicadorRegistro.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://Publicadores/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Publicadores/">

<xs:complexType name="bufferedImage">
<xs:sequence>
<xs:element name="data" type="tns:raster" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raster">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>