trunk/Tarea3/Cliente/Web/web/WEB-INF/wsdl/pc128862_9128/publicadorBusqueda.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Publicar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Publicar/" name="PublicadorBusquedaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Publicar/" schemaLocation="http://pc128862:9128/publicadorBusqueda?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getCategorias">
<part name="arg0" type="xsd:boolean"></part>
</message>
<message name="getCategoriasResponse">
<part name="return" type="tns:categorias"></part>
</message>
<message name="listarPorCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarPorCategoriaResponse">
<part name="return" type="tns:dataRestauranteArray"></part>
</message>
<message name="buscar">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="buscarResponse">
<part name="return" type="tns:dataRestauranteArray"></part>
</message>
<portType name="PublicadorBusqueda">
<operation name="getCategorias">
<input wsam:Action="http://Publicar/PublicadorBusqueda/getCategoriasRequest" message="tns:getCategorias"></input>
<output wsam:Action="http://Publicar/PublicadorBusqueda/getCategoriasResponse" message="tns:getCategoriasResponse"></output>
</operation>
<operation name="listarPorCategoria">
<input wsam:Action="http://Publicar/PublicadorBusqueda/listarPorCategoriaRequest" message="tns:listarPorCategoria"></input>
<output wsam:Action="http://Publicar/PublicadorBusqueda/listarPorCategoriaResponse" message="tns:listarPorCategoriaResponse"></output>
</operation>
<operation name="buscar">
<input wsam:Action="http://Publicar/PublicadorBusqueda/buscarRequest" message="tns:buscar"></input>
<output wsam:Action="http://Publicar/PublicadorBusqueda/buscarResponse" message="tns:buscarResponse"></output>
</operation>
</portType>
<binding name="PublicadorBusquedaPortBinding" type="tns:PublicadorBusqueda">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="getCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="listarPorCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="buscar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorBusquedaService">
<port name="PublicadorBusquedaPort" binding="tns:PublicadorBusquedaPortBinding">
<soap:address location="http://pc128862:9128/publicadorBusqueda"></soap:address>
</port>
</service>
</definitions>