trunk/Tarea3/Cliente/Web/web/WEB-INF/wsdl/pc128862_9128/publicadorImagenes.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Publicar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Publicar/" name="PublicadorImagenesService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://pc128862:9128/publicadorImagenes?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getImagenPerfil">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getImagenPerfilResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getImagenProducto">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getImagenProductoResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getImagenesRestaurante">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getImagenesRestauranteResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"></part>
</message>
<portType name="PublicadorImagenes">
<operation name="getImagenPerfil">
<input wsam:Action="http://Publicar/PublicadorImagenes/getImagenPerfilRequest" message="tns:getImagenPerfil"></input>
<output wsam:Action="http://Publicar/PublicadorImagenes/getImagenPerfilResponse" message="tns:getImagenPerfilResponse"></output>
</operation>
<operation name="getImagenProducto" parameterOrder="arg0 arg1">
<input wsam:Action="http://Publicar/PublicadorImagenes/getImagenProductoRequest" message="tns:getImagenProducto"></input>
<output wsam:Action="http://Publicar/PublicadorImagenes/getImagenProductoResponse" message="tns:getImagenProductoResponse"></output>
</operation>
<operation name="getImagenesRestaurante">
<input wsam:Action="http://Publicar/PublicadorImagenes/getImagenesRestauranteRequest" message="tns:getImagenesRestaurante"></input>
<output wsam:Action="http://Publicar/PublicadorImagenes/getImagenesRestauranteResponse" message="tns:getImagenesRestauranteResponse"></output>
</operation>
</portType>
<binding name="PublicadorImagenesPortBinding" type="tns:PublicadorImagenes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="getImagenPerfil">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="getImagenProducto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="getImagenesRestaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorImagenesService">
<port name="PublicadorImagenesPort" binding="tns:PublicadorImagenesPortBinding">
<soap:address location="http://pc128862:9128/publicadorImagenes"></soap:address>
</port>
</service>
</definitions>