trunk/Tarea3/Cliente/Web/web/WEB-INF/wsdl/pc128862_9128/publicadorPerfil.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Publicar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Publicar/" name="PublicadorPerfilService">
<types>
<xsd:schema>
<xsd:import namespace="http://Publicar/" schemaLocation="http://pc128862:9128/publicadorPerfil?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="obtenerCantidad">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="obtenerCantidadResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="getProductos">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:int"></part>
</message>
<message name="getProductosResponse">
<part name="return" type="tns:dataProductoArray"></part>
</message>
<message name="getPrecioTotal">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getPrecioTotalResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="existeCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeClienteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getClienteResponse">
<part name="return" type="tns:dataCliente"></part>
</message>
<message name="agregarComentario">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
</message>
<message name="agregarComentarioResponse"></message>
<portType name="PublicadorPerfil">
<operation name="obtenerCantidad">
<input wsam:Action="http://Publicar/PublicadorPerfil/obtenerCantidadRequest" message="tns:obtenerCantidad"></input>
<output wsam:Action="http://Publicar/PublicadorPerfil/obtenerCantidadResponse" message="tns:obtenerCantidadResponse"></output>
</operation>
<operation name="getProductos" parameterOrder="arg0 arg1">
<input wsam:Action="http://Publicar/PublicadorPerfil/getProductosRequest" message="tns:getProductos"></input>
<output wsam:Action="http://Publicar/PublicadorPerfil/getProductosResponse" message="tns:getProductosResponse"></output>
</operation>
<operation name="getPrecioTotal">
<input wsam:Action="http://Publicar/PublicadorPerfil/getPrecioTotalRequest" message="tns:getPrecioTotal"></input>
<output wsam:Action="http://Publicar/PublicadorPerfil/getPrecioTotalResponse" message="tns:getPrecioTotalResponse"></output>
</operation>
<operation name="existeCliente">
<input wsam:Action="http://Publicar/PublicadorPerfil/existeClienteRequest" message="tns:existeCliente"></input>
<output wsam:Action="http://Publicar/PublicadorPerfil/existeClienteResponse" message="tns:existeClienteResponse"></output>
</operation>
<operation name="getCliente">
<input wsam:Action="http://Publicar/PublicadorPerfil/getClienteRequest" message="tns:getCliente"></input>
<output wsam:Action="http://Publicar/PublicadorPerfil/getClienteResponse" message="tns:getClienteResponse"></output>
</operation>
<operation name="agregarComentario" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Publicar/PublicadorPerfil/agregarComentarioRequest" message="tns:agregarComentario"></input>
<output wsam:Action="http://Publicar/PublicadorPerfil/agregarComentarioResponse" message="tns:agregarComentarioResponse"></output>
</operation>
</portType>
<binding name="PublicadorPerfilPortBinding" type="tns:PublicadorPerfil">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="obtenerCantidad">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="getProductos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="getPrecioTotal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="existeCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="getCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="agregarComentario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorPerfilService">
<port name="PublicadorPerfilPort" binding="tns:PublicadorPerfilPortBinding">
<soap:address location="http://pc128862:9128/publicadorPerfil"></soap:address>
</port>
</service>
</definitions>