tags/EntregaTarea3/Cliente/Web/web/WEB-INF/wsdl/pc128862_9128/publicadorRestaurantes.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Publicar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Publicar/" name="PublicadorRestaurantesService">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://pc128862:9128/publicadorRestaurantes?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Publicar/" schemaLocation="http://pc128862:9128/publicadorRestaurantes?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="addVisitaRestaurante">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="addVisitaRestauranteResponse"></message>
<message name="getRestauranteCR">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getRestauranteCRResponse">
<part name="return" type="tns:dataRestaurante"></part>
</message>
<message name="getProductoCR">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getProductoCRResponse">
<part name="return" type="tns:dataProducto"></part>
</message>
<message name="generarPedido">
<part name="arg0" type="xsd:string"></part>
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="arg1" type="ns1:stringArray"></part>
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="arg2" type="ns2:intArray"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="generarPedidoResponse"></message>
<message name="getPedidosRestaurante">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getPedidosRestauranteResponse">
<part name="return" type="tns:dataPedidoArray"></part>
</message>
<portType name="PublicadorRestaurantes">
<operation name="addVisitaRestaurante">
<input wsam:Action="http://Publicar/PublicadorRestaurantes/addVisitaRestauranteRequest" message="tns:addVisitaRestaurante"></input>
<output wsam:Action="http://Publicar/PublicadorRestaurantes/addVisitaRestauranteResponse" message="tns:addVisitaRestauranteResponse"></output>
</operation>
<operation name="getRestauranteCR">
<input wsam:Action="http://Publicar/PublicadorRestaurantes/getRestauranteCRRequest" message="tns:getRestauranteCR"></input>
<output wsam:Action="http://Publicar/PublicadorRestaurantes/getRestauranteCRResponse" message="tns:getRestauranteCRResponse"></output>
</operation>
<operation name="getProductoCR">
<input wsam:Action="http://Publicar/PublicadorRestaurantes/getProductoCRRequest" message="tns:getProductoCR"></input>
<output wsam:Action="http://Publicar/PublicadorRestaurantes/getProductoCRResponse" message="tns:getProductoCRResponse"></output>
</operation>
<operation name="generarPedido" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://Publicar/PublicadorRestaurantes/generarPedidoRequest" message="tns:generarPedido"></input>
<output wsam:Action="http://Publicar/PublicadorRestaurantes/generarPedidoResponse" message="tns:generarPedidoResponse"></output>
</operation>
<operation name="getPedidosRestaurante">
<input wsam:Action="http://Publicar/PublicadorRestaurantes/getPedidosRestauranteRequest" message="tns:getPedidosRestaurante"></input>
<output wsam:Action="http://Publicar/PublicadorRestaurantes/getPedidosRestauranteResponse" message="tns:getPedidosRestauranteResponse"></output>
</operation>
</portType>
<binding name="PublicadorRestaurantesPortBinding" type="tns:PublicadorRestaurantes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="addVisitaRestaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="getRestauranteCR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="getProductoCR">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="generarPedido">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="getPedidosRestaurante">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorRestaurantesService">
<port name="PublicadorRestaurantesPort" binding="tns:PublicadorRestaurantesPortBinding">
<soap:address location="http://pc128862:9128/publicadorRestaurantes"></soap:address>
</port>
</service>
</definitions>