tags/EntregaTarea3/Cliente/Web/web/WEB-INF/wsdl/localhost_9129/publicadorRegistro.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Publicar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Publicar/" name="PublicadorRegistroService">
<types></types>
<message name="seleccionarCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="seleccionarClienteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="addRegistroAcceso">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="addRegistroAccesoResponse"></message>
<message name="darDeAltaCliente">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:int"></part>
<part name="arg6" type="xsd:int"></part>
<part name="arg7" type="xsd:int"></part>
<part name="arg8" type="xsd:string"></part>
<part name="arg9" type="xsd:string"></part>
</message>
<message name="darDeAltaClienteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<portType name="PublicadorRegistro">
<operation name="seleccionarCliente">
<input wsam:Action="http://Publicar/PublicadorRegistro/seleccionarClienteRequest" message="tns:seleccionarCliente"></input>
<output wsam:Action="http://Publicar/PublicadorRegistro/seleccionarClienteResponse" message="tns:seleccionarClienteResponse"></output>
</operation>
<operation name="addRegistroAcceso" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://Publicar/PublicadorRegistro/addRegistroAccesoRequest" message="tns:addRegistroAcceso"></input>
<output wsam:Action="http://Publicar/PublicadorRegistro/addRegistroAccesoResponse" message="tns:addRegistroAccesoResponse"></output>
</operation>
<operation name="darDeAltaCliente" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9">
<input wsam:Action="http://Publicar/PublicadorRegistro/darDeAltaClienteRequest" message="tns:darDeAltaCliente"></input>
<output wsam:Action="http://Publicar/PublicadorRegistro/darDeAltaClienteResponse" message="tns:darDeAltaClienteResponse"></output>
</operation>
</portType>
<binding name="PublicadorRegistroPortBinding" type="tns:PublicadorRegistro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="seleccionarCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="addRegistroAcceso">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
<operation name="darDeAltaCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://Publicar/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorRegistroService">
<port name="PublicadorRegistroPort" binding="tns:PublicadorRegistroPortBinding">
<soap:address location="http://localhost:9129/publicadorRegistro"></soap:address>
</port>
</service>
</definitions>